body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #bdbdbd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    color: black;
    width: 72px;
    height: 72px;
    border: 12px outset white;
    border-radius: 6px;
    font-size: 10px;
}

button:active {
    transform: translateY(4px);
}

#body {
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
}

#content-container {
    width: 900px;
    height: 600px;
    border: 4px outset gray;
}

#nav-container {
    background-color: #760202;
    color: #eeeeee;
    font-weight: 600;
    padding: 2px 22px;
}

#score-container {
    display: flex;
    justify-content: space-between;
}

#result-container {
    display: flex;
    height: 300px;
    background-color: #bdbdbd;
    margin: 2px 22px;
}

#button-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 22px;
    flex-grow: 1;
}

#player-card,
#computer-card {
    display: flex;
    padding: 2px 10px 10px 0px;
    margin: 2px 22px;
    border: 2px outset white;
}

#player-choice-card,
#result-card,
#computer-choice-card {
    width: 33%;
    background-color: #ffffff;
    border: 1px inset black;
    margin: 6px;
}

#result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}